<div ng-controller='Associations' id='theBox'>
    <h3>Associations Controller</h3>
    <!-- <form>
        <input type='text' ng-model='assignPlayer.name'> <input type='text' ng-model='assignTeam.teamName'>
        <input type='submit' value='Assign Player to Team' ng-click='addAssignment()' style="float: right">
    </form> -->
    <form>
        <select ng-model='assignPlayer' ng-options="player.name for player in players">
        </select>
        <select ng-model='assignTeam' ng-options="team.teamName for team in teams">
        </select>
        <input type='submit' ng-click='addAssignment()' style="float: right">
    </form>
        <table width="800">
            <tr><th>Name</th><th>Team</th><th>Actions</th></tr>
            <tr ng-repeat="player in players" ng-class-odd="'d1'" ng-class-even="'d2'">
                <td>{{player.name}}</td><td>{{player.teamAssigned}}</td>
                <td><input type='submit' value='Clear Assignment' ng-click='deleteAssignment(player)'</td>
            </tr>
        </table>
</div>
