<div ng-controller='Players' id='theBox'>
    <h3>players Controller</h3>
    <form>
        Name:        <input type='text' ng-model='newPlayer.name'>
        <input type='submit' value='Add Player' ng-click='addPlayer()' style="float: right">
    </form>
        <table>
            <tr><th>Name</th><th>Actions</th></tr>
            <tr ng-repeat="player in players" ng-class-odd="'d1'" ng-class-even="'d2'">
                <td>{{player.name}}</td>
                <td><input type='submit' value='Remove Player' ng-click='deletePlayer(player)'</td>
            </tr>
        </table>
</div>
